@use 'bootstrap';
$del_primary: #729EF5; 
$del_warning: #F18701; 
$del_yellow: #F7B801; 
$del_danger: #F35B04; 
$del_dark: #2057C6; 
$del_black: #000000; 
$del_light: #FAFAFA;

.bg_navbar{
    background-color: #F35B04;
}